* { margin: 0; padding: 0; }

#intro-name{ 
  text-align: left;}


  body {
    
    background-image: url(triangle-blob.svg), none;
    
  }

 .triangle-background
 {position: absolute;
  top:0px;
  right: 0;
  width: 953px;
  height: 634px;
  z-index: -1;}

  p{
  font-size: 16px;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
b {
  color: #292c6a;
}
a:active {
  text-decoration: none;
}
body {
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #222D62; }

    .learn-more {
      text-decoration: none;
      color: #222D62;
      text-align: left;
    }
    

h1, h2 { font-weight: 300; }
h1 {
    font-family: 'Mukta', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10%;
    margin-bottom: 10px;
    color:#ee6b62 ;
    
  }

h2 {  font-size: 28px;
      font-size: 14px;
      text-align: center;
      z-index: 3;
      color: #ee6b62;
      background-color: #ffffff;
      font-family: 'Mukta', sans-serif;
      font-weight: 800;
    line-height: 1.8;
  margin-bottom: 2%;}

h3 {
      font-size: 28px;
      font-size: 14px;
      color: #222D62;
      display:block;
      z-index: 3;
      background-color: #ffffff;
      font-family: 'Mukta', sans-serif;
      font-weight: 800;
      line-height: 1.8;}

.resume-logo {
  size: 100px;
}
p { line-height: 1.8;
  font-family: 'Mukta', sans-serif;
  font-weight: 400;
  font-size: 16px;}
.about-text {
  text-align: left;
  margin-left: 10%;
  font-size: 15px;
  
}
.squiggle {
  width: 20%;
  margin-left: -2%;

}

.about-subhead {
  text-align:left;
  margin-left: 10%;
  color: #ee6b62;
}
.intro-name-about {
  color: #ee6b62;
  margin-left: 10%;
}
  
}
.img-responsive-about {
    display: block;
    width: 25%;}
.img-responsive {display: block;
    width: 100%;}
.about-photo{
      margin-top: 100px;
      width: 100%;
    }
.project-item {
  overflow: hidden;
  position: relative;
  top: 0;
  bottom: 0;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.project-subtitle h3 {
  color: #454545;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 25px;
  text-transform: none;
  font-family: 'Mukta', sans-serif;
}

#about-copy {
  margin-top: 100px;
}

.project-subtitle h4 {
  color: #858585;
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 0px;
  font-family: 'Mukta', sans-serif;
  margin-top: 10px;
}

.project-overlay h3 {
  color: #454545;
  font-weight: normal;
  margin-top: 6px;
}
#imageSection {
  margin-top: 5em;
  max-width: 100%;
}
.daily-ui {
  margin-top: 5em;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

.project-overlay h4 {
  color: #858585;
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 0px;
}

#project .project-overlay {
  padding: 12px 0 26px 0px;
}

.project-detail-text {
  padding: 62px 82px;
}

.project-detail-info {
  padding: 12px 0 62px 0;
}

.project-detail-info h3:last-child {
  margin-top: 0;
}

#project-detail-links {
  background: #5050FF;
  padding: 82px 0 102px 0;
  margin-top: 102px;
}

#project-detail-links h3 {
  color: #e0e0e0;
}

#project-detail-links p a {
  color: #ffffff;
  font-size: 32px;
}



li { list-style-type: none; }

 }


::selection {
    background: #000000;
    color: #ffffff; }
::-moz-selection {
    background: #ffb7b7; }

.arrow {
  height: 50px;
  width: 50px;
  margin-bottom: -20px;
}
/*Button*/
button {
    background-color: #000000;
    color: #ffffff;
    padding: 16px 28px 16px 28px;
    border: none;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase; }

button:hover {
    background-color: #9E9E9E; }

/*Transition*/
.gallery img, .blog-content img, .submit button {
    transition: all 0.4s ease; }

/*
--Navigation--
*/

.nav {
    margin-top: 50px;
    text-transform: uppercase;
    height: 51px; }

.hamburger {
    display: none;
    text-align: right;
    color: #EE6B62;}

.logo {
    height:75%;
    width: 75%;
    margin-left: 10px;;
    text-align: left;
    line-height: 51px;
    cursor: pointer; }

.nav-links {
    font-size: 12px;
    letter-spacing: 2px;
    text-align: center;
    z-index: 3;
    font-family: 'Mukta', sans-serif;
    font-weight: 800;
 }

.nav-link a { line-height: 51px;
text-decoration: none;
color:#222D62}

.nav-link { border-bottom: 2px solid transparent; }

.nav-link:hover {
    cursor: pointer; }


/*Focus on Contact*/
.nav-link.focus a { color: #000000; }

/*
--Greetings--
*/

.greetings { margin: 150px 0 150px 0;}

.greetings p {
    margin-top: 20px;
    color: #292C6A;
    text-align: left;
    margin-left: 10px;
    margin-right: 30em;}

/*
--Divider--
*/

.divider {
    margin-top: 150px;
    margin-bottom: 25px; }

.triangles {
    height: 20px;
    background: url("../images/triangle.svg") repeat-x; }

/*
--Footer--
*/

.footer { margin-bottom: 25px; }
.footer { margin-top: 100px; }
.footer-col { 
  padding-bottom: 15px;
  padding-top: 30px;
margin-left: 30px;
 }
 .footer h5 {
   color:#f7b1c1;
 }

.footer p { padding-bottom: 5px; }
.footer img {
  height: 25px;
  width: 80%;
  align-items: right;
  margin-left: 25px;
  margin-right: 1em;
  color:#c2d6db
}

.footer .row {
  justify-content: right;

}

#made-with-love {
  text-align: right;
  margin-left: 50%;
}

/*
--Media Queries--
*/
@media screen and (max-width: 1200px) {
    .flex: 0 0 100%;
.max-width: 100%;
.logo img {
  width: 25px;
}

}


/*Going to col-md*/
@media screen and (max-width: 992px) {
    .hamburger { display: block; }
    .nav-links { display: none; }
    .logo {
      height: 50px;
      width: 50px;
      padding-bottom: 200px;}

      .about-photo {
        margin-top: 200px;
        width: 100%;
      }
      .about-text {
        font-size: 18px;
        margin-right: 100px ;
      }
      .nav-links {
      background-color: #fef8f9;
      }

}
@media screen and (max-width: 576px) {
  #intro-name{
    text-align: left;
    font-size:30px;
      margin-left: 25px;
  }

  .squiggle {
    width: 40%;
    margin-left: -2%;
  }
  .intro-name-about{
    text-align: left;
    font-size:18px;
    margin-left: 10em;
    margin-top: 10px;
  }

  .about-text {
    font-size: 16px;
    margin-right: 25px;
    margin-left:25px  ;
  }
.about-subhead {
  margin-left: 25px;
}
  #intro-name-about:hover {
    background-color: #F9D477;
  }

  .logo {
    margin-left: 150px;
  }
  .hamburger {
    color: grey;
  }
  .greetings p {
    text-align: left;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 16px;
  }
  .learn-more {
    text-align: left;
  }
  h2 {
    text-align: left;
      margin-left: 25px;

  }

  .img-responsive-about {
      display: block;
      width: 100%;
    padding: 25px;}

}

@media screen and (max-width:1024px) {
  #intro-name{
    text-align: left;
    font-size:30px;
      margin-left: 25px;
  }
  #intro-name-about{
    text-align: left;
    font-size:30px;
    margin-left: 25px;
    margin-bottom: 100px;
  }
  .logo {
    margin-left: 25px;
  }
  .hamburger {
    color: grey;
  }
  .greetings p {
    text-align: left;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 16px;
  }
  .learn-more {
    text-align: left;
  }
  h2 {
    text-align: left;
      margin-left: 25px;
  }
  .more-information {
      margin-top: 15px; }

  .more-information h2 {
      margin-top: 45px; }

}
