nav ul{
  background-color: #36b1bf;
  text-align: center;
  width: 100%;
  z-index: 3;
  position: absolute; right: 0; left: 0; top: 0;
}

@media screen and (min-width: 600px)
	{
		nav ul{
		display:flex;
			justify-content:space-around;
		}
